{% extends "layouts/default.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
  <ul>
    {% for artist in rows %}
   <li><a href="/endpoint/{{artist.artist_id}}"> {{artist.name}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
